{#
# Copyright (C) 2022 SpyroSoft S.A.
# SPDX-License-Identifier: MIT
#}

package {{interface.module.name}};
{% for t in interface | gether_interface_types %}
{%   if t.is_struct or t.is_enum %}
import {{interface.module.name}}.{{t.name}};
{%   endif %}
{% endfor %}

interface I{{interface}}Callback {
{% for property in interface.properties %}
    void {{property}}Changed(in {{property|aidl_type}} {{property}});
{% endfor %}
{% for signal in interface.signals %}
    /** Callback for {{signal}} signal */
    void {{signal}}({% for param in signal.parameters %}in {{param|aidl_type}} {{param.name}}{{ ", " if not loop.last}}{% endfor %});
{% endfor %}  
}
